<div class="modal top fade" id="edittrabajo" tabindex="-1" aria-labelledby="edittrabajoLabel" aria-hidden="true"
    data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fuente2" id="edittrabajoLabel">Editar Trabajo</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" (click)="closeModal({submitted: true})"></button>
            </div>
            <form class="fuente3" #f="ngForm" (ngSubmit)="onUpdateExp()" novalidate>
                <div class="modal-body">
                    <div class="container">
                        <div class="mb-4">
                            <label class="form-label" for="nombreE">Nombre de la Empresa:</label>
                            <input type="text" class="form-control form-control-lg" id="nombreE" name="nombreE"
                                [(ngModel)]="updateExp.nombreE" required />
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="periodoE">Periodo</label>
                            <input type="number" class="form-control form-control-lg" id="periodoE" name="periodoE"
                                [(ngModel)]="updateExp.periodoE" required />
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="descripcionE">Descripción</label>
                            <textarea class="form-control form-control-lg" id="descripcionE"
                                name="descripcionE" [(ngModel)]="updateExp.descripcionE" required rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal" (click)="closeModal({submitted: true})">cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>