<div class="modal top fade" id="edittrabajo" tabindex="-1" aria-labelledby="edittrabajoLabel" aria-hidden="true"
    data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fuente2" id="edittrabajoLabel">Editar Trabajo</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"
                    (click)="closeModal({submitted: true})"></button>
            </div>
            <form class="fuente3" #f="ngForm" (ngSubmit)="onUpdateExp()" novalidate>
                <div class="modal-body">
                    <div class="container">
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="nombreE" style="width: 100%;">
                                <mat-label>Nombre de la Empresa:</mat-label>
                                <input matInput placeholder="Indica un nombre. Ejemplo: Google" type="text" id="nombreE" name="nombreE"
                                    [(ngModel)]="updateExp.nombreE" required />
                            </mat-form-field>
                        </div>
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="periodoE" style="width: 100%;">
                                <mat-label>Periodo (en años)</mat-label>
                                <input matInput type="number" id="periodoE" name="periodoE"
                                    [(ngModel)]="updateExp.periodoE" />
                            </mat-form-field>
                        </div>
                        <div class="mb-2">
                            <mat-form-field appearance="fill" hintLabel="Máximo 255 caracteres" for="descripcionE" style="width: 100%;">
                                <mat-label>Descripción</mat-label>
                                <textarea matInput #desc id="descripcionE" name="descripcionE"
                                    [(ngModel)]="updateExp.descripcionE" rows="4" maxlength="255"></textarea>
                                <mat-hint align="end">{{desc.value?.length || 0}}/255</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="imagen" style="width: 100%;">
                                <mat-label>URL de la imagen de la empresa (Opcional)</mat-label>
                                <input matInput type="url" id="imagen" name="imagen" [(ngModel)]="updateExp.img">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal"
                        (click)="closeModal({submitted: true})">cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>