<script>
    (() => {
        'use strict'
        /* Sección donde se valida el formulario */
        const forms = document.querySelectorAll('.needs-validation')
    
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)
      })
    })()
</script>

<div class="modal top fade" tabindex="-1" id="nuevotrabajo" aria-hidden="true"
    data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fuente2" >Nuevo Trabajo</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" (click)="closeModal({submitted: true})"></button>
            </div>
            <form class="fuente3 needs-validation" #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                <div class="modal-body">
                    <div class="container">
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="nombreE" style="width: 100%;">
                                <mat-label>Nombre de la Empresa:</mat-label>
                                <input matInput type="text" id="nombreE" name="nombreE"
                                [(ngModel)]="nombreE" />
                            </mat-form-field>          
                        </div>      
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="periodoE" style="width: 100%;">
                                <mat-label>Periodo (en años)</mat-label>
                                <input matInput type="number" id="periodoE" name="periodoE" [(ngModel)]="periodoE" />
                            </mat-form-field>                  
                        </div>
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="descripcionE" style="width: 100%;">
                                <mat-label>Descripción</mat-label>
                                <textarea matInput id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" rows="4"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="imagen" style="width: 100%;">
                                <mat-label>URL de la imagen de la empresa (Opcional)</mat-label>
                                <input matInput type="url" id="imagen" name="imagen" [(ngModel)]="imagen">
                            </mat-form-field>                          
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Crear Experiencia </button>
                    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal" (click)="closeModal({submitted: true})">cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>