<script>
    (() => {
        'use strict'
        /* Sección donde se valida el formulario */
        const forms = document.querySelectorAll('.needs-validation')
    
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)
      })
    })()
</script>

<div class="modal top fade" tabindex="-1" id="nuevoedu" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fuente2">Nueva información educativa</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" (click)="closeModal({submitted: true})"></button>
            </div>
            <form class="fuente3 needs-validation" #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                <div class="modal-body">
                    <div class="container-sm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-2">
                                    <mat-form-field appearance="fill" for="nombreEdu" style="width: 100%;">
                                        <mat-label>Nombre de la escuela o Institución</mat-label>
                                        <input matInput type="text" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu" />
                                    </mat-form-field>                                  
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-2">
                                    <mat-form-field appearance="fill" for="orientacionEdu" style="width: 100%;">
                                        <mat-label>Facultad u orientación</mat-label>
                                        <input matInput type="text" name="orientacionEdu" id="orientacionEdu" [(ngModel)]="orientacionEdu" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="carreraEdu" style="width: 100%;">
                                <mat-label>Carrera</mat-label>
                                <input matInput type="text" name="carreraEdu" id="carreraEdu" [(ngModel)]="carreraEdu" />
                            </mat-form-field>
                        </div>
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="periodoEdu" style="width: 100%;">
                                <mat-label>Periodo (en años)</mat-label>
                                <input matInput type="number" name="periodoEdu" id="periodoEdu" [(ngModel)]="periodoEdu" />
                            </mat-form-field>
                        </div>
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="estado" style="width: 100%;">
                                <mat-label>Estado actual</mat-label>
                                <select matNativeControl [(ngModel)]="estado" id="estado" name="estado">
                                    <option selected disabled>Escoje un estado</option>
                                    <option value="En curso">En curso</option>
                                    <option value="Completo">Carrera Finalizada</option>
                                    <option value="Incompleto">Carrera Incompleta</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="mb-2">
                            <mat-form-field appearance="fill" for="imagen" style="width: 100%;">
                                <mat-label>URL de la imagen de la institución (Opcional)</mat-label>
                                <input matInput type="url" id="imagen" name="imagen" [(ngModel)]="imagen">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning fuente3">Crear Información</button>
                    <button type="button" class="btn btn-danger fuente3" data-mdb-dismiss="modal" (click)="closeModal({submitted: true})">cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>