<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Iniciar Sesión</h2>
              <p class="mb-5">Por favor, ingresar usuario y clave</p>

              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                <div class="form-outline form-white mb-4">
                  <mat-form-field class="formulario" for="nombreUsuario" appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input type="email" id="nombreUsuario" matInput placeholder="Coloca tu nombre de usuario"
                    [(ngModel)]="nombreUsuario" required name="nombreUsuario" />
                  </mat-form-field>
                </div>

                <div class="form-outline form-white mb-4">
                  <mat-form-field class="formulario" for="password" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" id="password" matInput placeholder="Coloca tu contraseña" [(ngModel)]="password"
                    required name="password" />
                  </mat-form-field>
                </div>

                <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
                <button mat-raised-button color="primary" type="submit">Ingresar</button>
                <button mat-raised-button color="accent" (click)="onRegresar()">Regresar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>