<section class="" *ngIf="isLogged">
    <section class="" *ngIf="isUser">
        <div class="container-xxl">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading fuente2">Has iniciado sesión como usuario normal</h4>
                <p class="fuente3">
                    Para obtener la edición del portfolio, debes iniciar sesión con una
                    cuenta de administrador.
                </p> <br>
                <p class="fuente3">Un mensaje del desarrollador :).</p>
            </div>
        </div>
    </section>
    <section class="" *ngIf="isAuth">
        <div class="container-xxl">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading fuente2">Has iniciado sesión como administrador</h4>
                <hr>
                <p class="fuente3">
                    Ahora tienes acceso a la edición de algunos sectores disponibles del portfolio web.
                    Ten en cuenta que no deberás colocar información sensible en los campos
                    correspondientes (por ejemplo tarjeta de crédito o débito, identificación,
                    domicilio, cuenta bancaria, clave virtual única, etc), ya que todos estos
                    datos serán visibles en la internet.
                </p>
            </div>
        </div>
    </section>
</section>

<section class="">
    <section id="acercade" class="container-xl">
        <br>
        <h1 class="fuente2 text-center">Acerca de mi</h1>
        <div class="card mb-3">
            <img src="../../../assets/img/banner.png" class="card-img-top">
            <div class="card-body">
                <div class="row justify-content-evenly">
                    <div class="col-md-4">
                        <div class="card text-center">
                            <img src="../../../assets/img/foto.jpg" class="card-img-top">
                            <div class="card-header">
                                <h4 class="text-uppercase fuente4">{{ persona.nombre }} {{ persona.apellido }}</h4>
                            </div>
                            <div class="card-body">
                                <h6 class="fuente3">{{ persona.oficio }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h1 class="fuente2">Descripción</h1>
                        <hr>
                        <p class="fuente3">{{ persona.descripcion }}</p>
                        <p class="fuente3">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#masinfo" role="button"
                                aria-expanded="false" aria-controls="masinfo">
                                Más información <i class="bi bi-caret-down-fill m-3"></i>
                            </a>
                        </p>
                        <div class="collapse" id="masinfo">
                            <div class="card card-body">
                                <table class="table table-striped table-hover table-borderless table-light fuente1">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Edad</th>
                                            <td>{{ persona.edad }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Correo</th>
                                            <td>{{ persona.email }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Localidad</th>
                                            <td>{{ persona.localidad }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hobbies</th>
                                            <td>{{ persona.hobbies }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-xxl" id="experiencia">
        <div> <br>
            <h1 class="fuente2 text-center">Experiencia Laboral</h1>
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-danger" id="advertencia" *ngIf="isLogged && isAuth" role="alert">
                        Recuerda que al eliminar una experiencia laboral, la acción no tiene retorno,
                        ni tampoco una confirmación. Considera como una advertencia al hacer esto.
                    </div>
                    <div class="row gx-1">
                        <div class="col-md-12">
                            <table
                                class="table table-sm table-striped table-hover table-borderless table-light fuente1">
                                <tbody class="placeholder-glow">
                                    <tr>
                                        <td><h4 class="fuente1">Trabajo</h4></td>
                                        <td><h4 class="fuente1">Periodo</h4></td>
                                        <td><h4 class="fuente1">Descripción</h4></td>
                                        <td *ngIf="isLogged && isAuth"><h4 class="fuente1">Editar (Doble Clic)</h4></td>
                                        <td *ngIf="isLogged && isAuth"><h4 class="fuente1">Borrar</h4></td>
                                    </tr>
                                    <tr *ngFor="let Explaboral of experiencia">
                                        <td>{{Explaboral.nombreE}}</td>
                                        <td>{{Explaboral.periodoE}} Año(s)</td>
                                        <td>{{Explaboral.descripcionE}}</td>
                                        <td *ngIf="isLogged && isAuth" class="text-center">
                                            <button type="button" class="btn btn-primary btn-floating" [routerLink]="[{outlets: {modal: 'editjob/'+Explaboral.id}}]"
                                                data-mdb-toggle="modal" data-mdb-target="#edittrabajo">
                                                <i class="bi bi-pencil-fill"></i>
                                            </button></td>
                                        <td *ngIf="isLogged && isAuth" class="text-center">
                                            <button type="button" class="btn btn-danger btn-floating" (click)="onDelJob(Explaboral.id)">
                                                <i class="bi bi-trash-fill"></i>
                                            </button></td>
                                    </tr>
                                </tbody>
                                <caption>
                                    En total: {{ experiencia.length }} trabajos
                                </caption>
                            </table>

                            <button type="button" class="btn btn-primary fuente4"  [routerLink]="[{outlets: {modal: 'newjob'}}]"
                                data-mdb-toggle="modal" data-mdb-target="#nuevotrabajo" *ngIf="isLogged && isAuth">
                                <i class="bi bi-plus-lg"></i> Doble clic para Añadir
                            </button>


                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-xxl" id="educacion">
        <div>
            <br>
            <h1 class="fuente2 text-center">Educación</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://www.unsj.edu.ar/img/logo_unsj.png" alt="" width="90%">
                        </div>
                        <div class="col-md-8">
                            <table
                                class="table table-sm table-striped table-hover table-borderless table-light fuente1">
                                <tbody>
                                    <tr>
                                        <th scope="row">Institución</th>
                                        <td>Universidad Nacional de San Juan</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Orientación o facultad:</th>
                                        <td>Facultad de Ciencias Exactas, Físicas y naturales</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Carrera:</th>
                                        <td>Lic. de Ciencias de la Computación</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Años:</th>
                                        <td>6 años</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Estado:</th>
                                        <td>En curso</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="skills">
        <div class="container-sm">
            <br>
            <h1 class="fuente2 text-center">Hard and Soft Skills</h1>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <br>
                            <h6 class="fuente3">HTML</h6>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                                    role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 50%">50%</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <br>
                            <h6 class="fuente3">CSS</h6>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">30%
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <br>
                            <h6 class="fuente3">JavaScript</h6>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                                    role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 10%">10%</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <br>
                            <h6 class="fuente3">Bootstrap</h6>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 40%">40%</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <br>
                            <h6 class="fuente3">Python</h6>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                    role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 45%">45%</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <br>
                            <h6 class="fuente3">GitHub</h6>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated"
                                    role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 65%">65%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="proyectos">
        <div class="container-xxl">
            <br>
            <h1 class="fuente2 text-center">Proyectos</h1>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png"
                                alt="" width="100%" style="filter: invert(100%);">
                        </div>
                        <div class="col-lg-9">
                            <table
                                class="table table-striped table-sm table-hover table-borderless table-light fuente4">
                                <tbody>
                                    <tr>
                                        <th scope="row">Nombre:</th>
                                        <td>Proyecto Integrador Portfolio Web Full Stack</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fecha de realización:</th>
                                        <td>7 de agosto del 2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Descripción:</th>
                                        <td>
                                            Proyecto Integrador del curso Argentina Programa, Sección #YoProgramo, en el
                                            cual tiene
                                            como objetivo, desarrollar un portfolio web full stack.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Link:</th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>